/* styles/Login.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .telegramButton {
    margin: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #fff;
    padding: 1rem 0;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it stays above other content */
  }
  
  /* NavLink styles */
  .navLink {
    text-decoration: none;
    color: #fff;
    background: #ffdd57;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.8rem;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .navLink:hover {
    background: #ffd700;
    color: #000;
  }
  