/* styles/Login.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
  }
  
  .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: yellow;
    padding: 1rem 0;
  }
  
  .navLink {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
  }
  